@model IEnumerable<OrderFormViewModel>
@{
    ViewData["Title"] = "Orders for Barman";
}

<h1>@ViewData["Title"]</h1>

@foreach (var order in Model)
{
    <h2>@order.Id</h2>
    foreach (var product in order.Products)
    {
        <p>@product.Name</p>
        <p>@product.Description</p>
    }
    @if (this.User.Identity!.IsAuthenticated && this.User.IsInRole(WaiterChefBoss.Data.DataConstants.ChefRole))
    {
        <form asp-action="SendToWaiter" asp-route-id="@order.Id" asp-route-roleName="@WaiterChefBoss.Data.DataConstants.ChefRole" method="post">
            <input type="submit" class="btn-info" value="Sent to Waiter">
        </form>
    }
    else
    {
        <form asp-action="SendToWaiter" asp-route-id="@order.Id" asp-route-roleName="@WaiterChefBoss.Data.DataConstants.BarmanRole" method="post">
            <input type="submit" class="btn-info" value="Sent to Waiter">
        </form>

    }
}