@model OrderFormViewModel

@{
    ViewData["Title"] = "Cart";
}

        @if (Model.Products.Count() > 0)
{



    <table class="table table-striped grid-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                double total = 0;
            }
            @foreach (var product in Model.Products)
            {
                total += @product.Price;

                <tr>
                    <th>@product.Name</th>
                    <th> @product.Price @product.CurencySymbol</th>
                    <th class="btn-group" role="group">
                        <form  method="post">
                            <input asp-action="AddToCart" asp-route-productId="@product.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Add +1" />
                        </form>
                        <form method="post">
                            <input asp-action="RemoveFromCart" asp-route-productId="@product.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold" type="submit" value="Remove" />
                        </form>

                    </th>
                </tr>
            }
            <tr></tr>
            <tr>
                <th>

                </th>
                <th>Total: @Math.Round(total,2) @Model.Products.FirstOrDefault()!.CurencySymbol</th>
            </tr>
        </tbody>
    </table>
    <form asp-action="PlaceOrder" method="post">

        <label asp-for="Table" class="form-label-add-edit">Table</label>
        <input asp-for="Table" class="form-control" aria-required="true" value="0" />
        <span asp-validation-for="Table" class="text-danger"></span>
        <input class="btn btn-dark mb-2 w-100 p-3 fw-bold" type="submit" value="Send to the Chef" />
    </form>

    
}
else
{
    <h1>No products added to cart</h1>
}

