@model CategoryViewModel

@{
    ViewData["Title"] = @Model.CategoryDetails.Name;
}
<h1>@Model.CategoryDetails.Name</h1>
<div id="category-description">@Model.CategoryDetails.Description</div>

@foreach (var product in @Model.Products)
{
    <h2>@product.Name</h2>
    <p>@product.Description</p>
    <img class="img-thumbnail" src="@product.ImageUrl">
    <div>
        Category: <a asp-controller="Food" asp-action="Category" asp-route-id="@product.CategoryId">@product.CategoryName</a>

    </div>
    @if (this.User.Identity!.IsAuthenticated)
    {
        <form asp-controller="Order" asp-action="AddToCart" asp-route-productId="@product.Id" method="post">
            <input class="btn btn-dark mb-2 w-100 p-3 fw-bold" type="submit" value="AddToCart" />
        </form>
    }
}